/* Form Styling and Buttons */
.form-control,
.form-label {
  background: #111;
  color: #fff;
  border: 1px solid #333;
}
.form-control:focus {
  background: #111;
  color: #fff;
  border-color: #fff;
}

.btn-primary {
  background: #fff;
  color: #000;
  border: none;
}
.btn-primary:hover {
  background: #b8b8b8;
  color: #000;
}

#contact-about {
  position: relative;
  z-index: 10;
}

.btn-primary:active {
  background: rgb(24, 145, 189) !important;
  color: #fff !important;
  border: none;
}
