/* Mosaic Zen Garden Gallery */

#gallery {
  position: absolute;
  width: 140vmax;
  height: 130vmax;
  z-index: 1;
}

#gallery-wrap {
  overflow: hidden;
}

.tile {
  position: absolute;
  border-radius: 1vmax;
  transition: transform 0.8s ease;
  overflow: hidden;
}

.tile:hover {
  transform: scale(1.1);
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.tile:hover img {
  opacity: 1;
  transform: scale(1.02);
}

/* SPACER FOR THE ZEN GARDEN */
.section-spacer {
  height: 40vh;
  background: #000;
}

/* On phones / small tablets, collapse the spacer */
@media (max-width: 767px) {
  .section-spacer {
    height: 0; /* or try 10vh if you still want a hint of space */
    background: none; /* removes the extra black bar */
  }
}

/* colourful placeholders (match original layout) */
/* left between 0 and 50 (unless an outer filler)*/
.tile:nth-child(1) {
  background: #ffffff;
  height: 30%;
  width: 20%;
  left: 0%;
  top: 0%;
}

.tile:nth-child(2) {
  background: #646464;
  height: 20%;
  width: 30%;
  left: 43%;
  top: 0%;
}

.tile:nth-child(3) {
  background: #c0c0c0;
  height: 10%;
  width: 20%;
  left: -5%;
  top: 40%;
}

.tile:nth-child(4) {
  background: #3b3b3b;
  height: 20%;
  width: 10%;
  left: 55%;
  top: 35%;
}

.tile:nth-child(5) {
  background: #505050;
  height: 20%;
  width: 20%;
  left: 25%;
  top: 25%;
}

.tile:nth-child(6) {
  background: #e1dfdf;
  height: 10%;
  width: 10%;
  left: 68%;
  top: 25%;
}

.tile:nth-child(7) {
  background: #e1dfdf;
  height: 10%;
  width: 10%;
  left: -15%;
  top: 7%;
}

/* uses id to display certain placeholder only on desktop */
#desktop-only {
  display: block;
}

/* Desktop Tile Display Fix */
@media (min-width: 768px) {
  #gallery .tile {
    padding: 0 !important;
  }
}

/* responsive mobile website */
@media (max-width: 767px) {
  #gallery {
    position: static;
    width: auto;
    height: auto;
    transform: none !important;
  }

  .tile {
    position: relative;
    left: auto !important;
    top: auto !important;
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.6s ease;
  }

  .tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: none;
  }
  .tile:hover {
    transform: scale(1.05);
  }

  .section-spacer {
    height: 5vh;
    background: none;
  }

  #desktop-only {
    display: none;
  }
}